/*main colors 	hsl(180, 5%, 9%) black
	hsl(240, 11%, 96%) white*/ 

body {
  font-family:'Inter', sans-serif;
  margin: 0;
}

/*parent nav flexbox*/
nav{
  display: flex;
  justify-content: space-between;

  background-color:hsl(180, 5%, 9%);
}

/*nav links styles*/
nav a{
  display: block;

  text-decoration: none;
  text-align: center;

  padding: 1rem;
  width: min-content;

  background-color:	hsl(180, 5%, 9%);
  color:	hsl(240, 11%, 96%);
}

/* nav links hover*/
nav a:hover {
  background-color: hsl(180, 5%, 9%);
  color:hsl(240, 11%, 96%);
}

/*nav links flexbox*/
nav ul{
  display: flex;
  justify-content: flex-end;
  align-items:center;

  margin: 0;
  padding-left: 0;
  padding-right:1rem;

  list-style: none;
  background-color: hsl(180, 5%, 9%);
}

/*icon flexbox*/ 
.navimg{
 justify-content: flex-start;
 align-items:center;

 border-radius: 50%;
 width:50px;
 height:50px;

 padding:1rem;
}
